In [1]:
import pandas as pd

### importing from clipboard

In [3]:
db = pd.read_clipboard()

In [4]:
db

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450
5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250
6,6,audi,wagon,105.8,192.7,ohc,five,110,19,18920
7,9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430
8,10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925
9,11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970
10,13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760
11,14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315
12,15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880
13,16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151

### importing from excel / csv

In [6]:
db1 = pd.read_csv(r"C:\Users\Jo$h\Desktop\Automobile_data.csv")    

#r stands for regular expression
#you can decide to either use 'r' or use \\ instead of \

In [7]:
db1

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [8]:
db2 = pd.read_excel(r'C:\Users\Jo$h\Desktop\Academic Success.xlsx')

In [9]:
db2

,Degree Level,Age,Gender,Hours_sleep,Fees,Extracurricular activities,Bac_type,Bac_grade,GPA,English_level,Attendance,Study,Work,Working hours per week,Work_study_related,Higher_Diploma
0,BA,25,Female,6,Your parents,Rarely,SV,12.0,3.23,Excellent,1.0,Prior to exam,No,0.0,NaN,Yes
1,MBA,23,Female,6,You,Rarely,SE,13.0,2.40,Fair,0.4,Prior to exam,Full time,45.0,No,No
2,BA,21,Female,5,You,Rarely,SE,18.0,4.00,Excellent,1.0,Prior to exam,Part Time,25.0,Yes,Yes
3,BA,19,Female,6,You,Rarely,SE,12.7,2.70,Poor,0.6,Prior to exam,Full time,48.0,No,No
4,BA,20,Female,6,Your parents,Frequently,SE,14.0,3.40,Excellent,0.9,Frequently,Part Time,18.0,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,BA,23,Male,8,You,Rarely,SE,11.0,3.30,Excellent,0.7,Prior to exam,Full time,45.0,No,Yes
92,BA,25,Male,9,You,Rarely,BT,11.0,2.40,Excellent,0.4,Prior to exam,Full time,35.0,Yes,No
93,BA,26,Female,8,Your parents,Rarely,SE,12.0,2.50,Excellent,0.6,Prior to exam,Full time,40.0,Yes,No
94,MBA,27,Male,6,You,Frequently,SE,11.0,2.37,Excellent,0.5,Frequently,Full time,60.0,Yes,No
95,BA,22,Male,4,You,Frequently,SV,11.0,2.80,Excellent,0.8,Prior to exam,Full time,48.0,Yes,No

### importing from html

###### web scraping (BeautifulSoup, Scrapy, Selenium)

In [10]:
#kaggle.com
#uci.com
#data.gov and others

In [13]:
wiki = pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)')[0]

In [19]:
wiki=wiki[['Country or territory', 'Population (1 July 2022)', 'Population (1 July 2023)']]

In [20]:
wiki

,Country or territory,Population (1 July 2022),Population (1 July 2023)
0,World,8021407192,8091734930
1,India,1425423212,1438069596
2,China[a],1425179569,1422584933
3,United States,341534046,343477335
4,Indonesia,278830529,281190067
...,...,...,...
233,Montserrat (United Kingdom),4453,4420
234,Falkland Islands (United Kingdom),3490,3477
235,Tokelau (New Zealand),2290,2397
236,Niue (New Zealand),1821,1817
237,Vatican City[x],505,496

In [22]:
wiki.head(20)  #this shows the top 20

   Country or territory  Population (1 July 2022)  Population (1 July 2023)
0                 World                8021407192                8091734930
1                 India                1425423212                1438069596
2              China[a]                1425179569                1422584933
3         United States                 341534046                 343477335
4             Indonesia                 278830529                 281190067
5              Pakistan                 243700667                 247504495
6               Nigeria                 223150896                 227882945
7                Brazil                 210306415                 211140729
8            Bangladesh                 169384897                 171466990
9                Russia                 145579899                 145440500
10               Mexico                 128613117                 129739759
11             Ethiopia                 125384287                 128691692
12                Japan                 124997578                 124370947
13          Philippines                 113964338                 114891199
14                Egypt                 112618250                 114535772
15             DR Congo                 102396968                 105789731
16              Vietnam                  99680655                 100352192
17                 Iran                  89524246                  90608707
18               Turkey                  87058473                  87270501
19              Germany                  84086227                  84548231

In [23]:
wiki.style.background_gradient()

In [24]:
wiki.style.bar()

In [25]:
wiki.drop(index=0, inplace=True)

C:\Users\Jo$h\AppData\Local\Temp\ipykernel_7852\3127371800.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wiki.drop(index=0, inplace=True)

In [26]:
wiki

,Country or territory,Population (1 July 2022),Population (1 July 2023)
1,India,1425423212,1438069596
2,China[a],1425179569,1422584933
3,United States,341534046,343477335
4,Indonesia,278830529,281190067
5,Pakistan,243700667,247504495
...,...,...,...
233,Montserrat (United Kingdom),4453,4420
234,Falkland Islands (United Kingdom),3490,3477
235,Tokelau (New Zealand),2290,2397
236,Niue (New Zealand),1821,1817
237,Vatican City[x],505,496

In [ ]:
wiki.to_excel('samplewiki.xlsx')